<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <script th:src="@{/js/fontawesome.js}"></script>
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" method="post" th:object="${user}">
                <p style="color: red" th:text="${error}"></p>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="Nhập tên đăng nhập" th:field="*{username}" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Nhập mật khẩu" th:field="*{password}" required>
                </div>
                <button class="button login__submit">
                    <span class="button__text">Đăng nhập</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div style="display: flex; justify-content: center">
                <a th:href="@{/user/register}" style="font-weight: bold;">bạn có tài khoản chưa?</a>
            </div>
            <div class="social-login">
                <h3>Đăng nhập với</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
</body>
</html>